//ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================================================================================================
body {
	color: #FEFEFE;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.25;
}
//ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================================================================================================

//<ОБОЛОЧКА>===================================================================================================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
//</ОБОЛОЧКА>==================================================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>=============================================================================================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	padding: 0px 15px;
}

.container-big {
	max-width: 1550px;
	margin: 0 auto;
	padding: 0px 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================================================================================

//<ОСНОВНОЙ БЛОК>=============================================================================================================================================================================
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 100%;
}
//</ОСНОВНОЙ БЛОК>============================================================================================================================================================================
